body{
    background-color: #f8fafc;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    height: 100vh;
}

nav{
    z-index: 1;
    
}

footer.master{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 0px 10px black;

}